@charset "UTF-8";
html, body {
  width: 100%;
  min-height: 100%; }

body {
  position: relative;
  color: #000000;
  background-color: white;
  font-family: "πâÆπâ⌐πé«πâÄΦºÆπé┤ Pro W3", "Hiragino Kaku Gothic Pro", "πâíπéñπâ¬πé¬", Meiryo, "∩╝¡∩╝│ ∩╝░πé┤πé╖πââπé»", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  float: left;
  width: 100%;
  height: 100%;
  letter-spacing: 0px;
  margin: 0px;
  overflow: scroll; }

.main-wrapper .section03 .wrap-compliment .mod-compliment h2, .main-wrapper .section04 .wrap-use .box-use .title h2, .main-wrapper .section05 .wrap-star .box-star h2, .main-wrapper .section07 .wrap-award .box-award h2, .main-wrapper .section08 .wrap-employees .box-employees h2, .main-wrapper .section09 .wrap-face .box-face h2, .main-wrapper .section10 .wrap-team .box-team h2, .main-wrapper .section11 .wrap-member .box-member h2, .main-wrapper .section12 .wrap-board .box-board h2, .main-wrapper .section14 .wrap-plan .box-plan h2 {
  font-size: 3.076923076923077em;
  color: #000000;
  margin-top: 0px; }

.main-wrapper, .main-wrapper .section02 .wrap-thank, .main-wrapper .section02 .wrap-thank .box-thank, .main-wrapper .section03 .wrap-compliment, .main-wrapper .section03 .wrap-compliment .mod-compliment, .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment, .main-wrapper .section04 .wrap-use, .main-wrapper .section04 .wrap-use .box-use, .main-wrapper .section04 .wrap-use .box-use .left-use .use-badge .each-use, .main-wrapper .section04 .wrap-use .box-use .right-use .box-value, .main-wrapper .section05 .wrap-star, .main-wrapper .section05 .wrap-star .box-star, .main-wrapper .section06 .wrap-experience, .main-wrapper .section06 .box-experience, .main-wrapper .section07 .wrap-award, .main-wrapper .section07 .wrap-award .box-award, .main-wrapper .section08 .wrap-employees, .main-wrapper .section08 .wrap-employees .box-employees, .main-wrapper .section09 .wrap-face, .main-wrapper .section09 .wrap-face .box-face, .main-wrapper .section10 .wrap-team, .main-wrapper .section10 .wrap-team .box-team, .main-wrapper .section11 .wrap-member, .main-wrapper .section11 .wrap-member .box-member, .main-wrapper .section12 .wrap-board, .main-wrapper .section12 .wrap-board .box-board, .main-wrapper .section13 .wrap-experience, .main-wrapper .section13 .box-experience, .main-wrapper .section14 .wrap-plan, .main-wrapper .section14 .wrap-plan .box-plan, .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .box-rate, .main-wrapper .section15 .wrap-footer, .main-wrapper .section15 .box-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.main-wrapper .section01 .mod-wrapper .box-art-logo p, .main-wrapper .section01 .mod-wrapper .box-art-logo .logo-company p {
  font-size: 1.692307692307692em;
  line-height: 1.636;
  text-align: justify; }

.main-wrapper .section01 .mod-wrapper .box-art-logo .logo-company a.button-new, .main-wrapper .section06 .box-experience a.button-new, .main-wrapper .section13 .box-experience a.button-new, .main-wrapper .section15 .box-footer a.button-new {
  background-image: url("../images/btn_art.png");
  background-repeat: no-repeat;
  height: 81px;
  width: 387px;
  display: inline-block;
  text-decoration: none;
  color: #fff; }

.main-wrapper {
  width: 100%;
  position: relative;
  float: left;
  height: auto;
  color: #444444;
  z-index: 1; }
  .main-wrapper .mod-sec {
    width: 100%;
    position: relative;
    float: left; }
  .main-wrapper .section01 {
    width: 100%;
    height: 785px;
    background: #fff;
    overflow: hidden; }
    .main-wrapper .section01 .mod-wrapper {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section01 .mod-wrapper .box-art-logo {
        padding-top: 49px;
        padding-left: 19px; }
        .main-wrapper .section01 .mod-wrapper .box-art-logo h2 {
          margin-top: 0px;
          margin-bottom: 40px;
          font-size: 3.692307692307692em;
          color: #333333;
          text-align: justify; }
        .main-wrapper .section01 .mod-wrapper .box-art-logo p {
          margin-top: 0px; }
        .main-wrapper .section01 .mod-wrapper .box-art-logo .logo-company p {
          font-weight: bold; }
          .main-wrapper .section01 .mod-wrapper .box-art-logo .logo-company p b {
            color: #ef8c91;
            font-size: 1.792307692307692em; }
        .main-wrapper .section01 .mod-wrapper .box-art-logo .logo-company a.button-new p.btn-tit {
          font-size: 2.076923076923077em;
          margin-top: 18px;
          margin-right: 14px;
          text-align: center; }
    .main-wrapper .section01 img.img-art01 {
      position: absolute;
      right: 0px;
      top: 55px;
      z-index: 0; }
  .main-wrapper .section02 {
    width: 100%;
    height: 501px;
    background: #fff; }
    .main-wrapper .section02 .wrap-thank {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section02 .wrap-thank .box-thank {
        padding: 40px 26px;
        position: relative;
        float: left;
        width: 100%; }
        .main-wrapper .section02 .wrap-thank .box-thank .left-thank {
          float: left; }
          .main-wrapper .section02 .wrap-thank .box-thank .left-thank p {
            font-size: 1.538461538461538em;
            line-height: 32px;
            color: #444444;
            text-align: justify; }
        .main-wrapper .section02 .wrap-thank .box-thank .right-thank {
          float: right;
          position: relative; }
          .main-wrapper .section02 .wrap-thank .box-thank .right-thank .box-thank-top {
            top: -41px;
            right: 81px;
            position: absolute;
            border: 1px solid #999999;
            width: 154px;
            height: 48px;
            text-align: center;
            z-index: 10;
            background-color: #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px; }
            .main-wrapper .section02 .wrap-thank .box-thank .right-thank .box-thank-top:after {
              top: 43px;
              transform: rotate(225deg);
              content: "";
              position: absolute;
              background-color: #fff;
              width: 10px;
              height: 10px;
              right: calc(100% - 82px);
              border: 1px solid #999999;
              border-bottom: none;
              border-right: none;
              z-index: 10; }
            .main-wrapper .section02 .wrap-thank .box-thank .right-thank .box-thank-top p {
              font-size: 1.230769230769231em;
              color: #408acd;
              margin-top: 12px;
              text-align: center; }
          .main-wrapper .section02 .wrap-thank .box-thank .right-thank .box-thank-bottom {
            bottom: -26px;
            right: 178px;
            position: absolute;
            border: 1px solid #999999;
            width: 154px;
            height: 48px;
            text-align: center;
            z-index: 10;
            background-color: #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px; }
            .main-wrapper .section02 .wrap-thank .box-thank .right-thank .box-thank-bottom:before {
              top: -6px;
              transform: rotate(45deg);
              content: "";
              position: absolute;
              background-color: #fff;
              width: 10px;
              height: 10px;
              right: calc(100% - 82px);
              border: 1px solid #999999;
              border-bottom: none;
              border-right: none;
              z-index: 10; }
            .main-wrapper .section02 .wrap-thank .box-thank .right-thank .box-thank-bottom p {
              font-size: 1.230769230769231em;
              color: #c971c3;
              margin-top: 12px;
              text-align: center; }
          .main-wrapper .section02 .wrap-thank .box-thank .right-thank img {
            z-index: 0; }
  .main-wrapper .section03 {
    width: 100%;
    height: 915px;
    background: #fff;
    position: relative;
    overflow: hidden; }
    .main-wrapper .section03 .wrap-compliment {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section03 .wrap-compliment .mod-compliment {
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        padding-top: 53px;
        padding-left: 20px; }
        .main-wrapper .section03 .wrap-compliment .mod-compliment h2 {
          margin-bottom: 13px; }
        .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment {
          width: 595px;
          min-height: 573px;
          background-color: #fff;
          padding: 30px 10px;
          margin-bottom: 10px;
          z-index: 10; }
          .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-txt {
            float: left;
            min-width: 304px;
            position: relative;
            margin-right: 10px; }
            .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-txt .each-text {
              position: relative; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-txt .each-text:after {
                top: 4px;
                transform: rotate(135deg);
                content: "";
                position: absolute;
                background-color: #fff;
                width: 10px;
                height: 10px;
                right: 0px;
                border: 1px solid #030303;
                border-bottom: none;
                border-right: none;
                z-index: 10; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-txt .each-text:last-child {
                margin-bottom: 0px; }
          .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon {
            float: left;
            position: relative;
            max-width: 265px; }
            .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon {
              position: relative; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon p {
                margin-left: 46px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(1) i.icon {
                background-image: url("../images/icon_badge01.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(2) i.icon {
                background-image: url("../images/icon_badge02.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(3) i.icon {
                background-image: url("../images/icon_badge03.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(4) i.icon {
                background-image: url("../images/icon_badge04.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(5) i.icon {
                background-image: url("../images/icon_badge05.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(6) i.icon {
                background-image: url("../images/icon_badge06.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(7) i.icon {
                background-image: url("../images/icon_badge07.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(8) i.icon {
                background-image: url("../images/icon_badge08.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(9) i.icon {
                background-image: url("../images/icon_badge09.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
              .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment .left-icon .each-icon:nth-of-type(10) i.icon {
                background-image: url("../images/icon_badge10.png");
                background-repeat: no-repeat;
                height: 38px;
                width: 38px;
                display: inline-block;
                position: absolute;
                top: -10px; }
          .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment h3 {
            font-size: 1.384615384615385em;
            margin-top: 0px; }
          .main-wrapper .section03 .wrap-compliment .mod-compliment .box-compliment p {
            font-size: 1.230769230769231em;
            margin: 0px;
            color: #000000;
            margin-bottom: 24px; }
    .main-wrapper .section03 img.img-art02 {
      position: absolute;
      right: 0px;
      top: 155px;
      z-index: 0; }
  .main-wrapper .section04 {
    width: 100%;
    height: 554px;
    background: #fff;
    position: relative; }
    .main-wrapper .section04 .wrap-use {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section04 .wrap-use .box-use {
        padding: 10px 20px 79px 20px;
        float: left;
        width: 100%; }
        .main-wrapper .section04 .wrap-use .box-use .title {
          float: left; }
          .main-wrapper .section04 .wrap-use .box-use .title img.icon-use {
            display: inline-block; }
          .main-wrapper .section04 .wrap-use .box-use .title h2 {
            display: inline-block;
            position: relative;
            top: -4px;
            left: 10px;
            margin-bottom: 45px; }
        .main-wrapper .section04 .wrap-use .box-use .left-use {
          float: left;
          position: relative;
          clear: left;
          min-width: 420px; }
          .main-wrapper .section04 .wrap-use .box-use .left-use .use-phone {
            margin-left: 72px; }
          .main-wrapper .section04 .wrap-use .box-use .left-use .use-badge {
            position: absolute;
            top: 37px;
            right: 55px;
            text-align: center; }
            .main-wrapper .section04 .wrap-use .box-use .left-use .use-badge .each-use {
              border: 1px solid #999999;
              width: 140px;
              text-align: center;
              z-index: 10;
              padding: 10px;
              position: relative;
              margin-bottom: 13px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              -ms-border-radius: 4px;
              border-radius: 4px; }
              .main-wrapper .section04 .wrap-use .box-use .left-use .use-badge .each-use h3 {
                font-size: 0.8461538461538462em;
                font-weight: bold;
                text-align: center;
                margin-top: 0px;
                margin-bottom: 1px; }
              .main-wrapper .section04 .wrap-use .box-use .left-use .use-badge .each-use p {
                font-size: 0.6923076923076923em;
                line-height: 13px;
                text-align: left;
                margin: 0px;
                color: #bcbcbc; }
              .main-wrapper .section04 .wrap-use .box-use .left-use .use-badge .each-use:after {
                top: 58px;
                transform: rotate(225deg);
                content: "";
                position: absolute;
                background-color: #fff;
                width: 10px;
                height: 10px;
                right: calc(100% - 82px);
                border: 1px solid #999999;
                border-bottom: none;
                border-right: none;
                z-index: 10;
                right: calc(100% - 72px); }
        .main-wrapper .section04 .wrap-use .box-use .right-use {
          float: left;
          position: relative;
          min-width: 470px;
          text-align: center; }
          .main-wrapper .section04 .wrap-use .box-use .right-use .box-value {
            border: 1px solid #333333;
            padding: 25px 17px;
            width: 453px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px; }
            .main-wrapper .section04 .wrap-use .box-use .right-use .box-value i.sign {
              font-style: normal;
              font-weight: bold;
              font-size: 1.384615384615385em;
              display: inline;
              left: 19px;
              float: left; }
            .main-wrapper .section04 .wrap-use .box-use .right-use .box-value p {
              font-size: 1.384615384615385em;
              line-height: 28px;
              font-weight: bold;
              text-align: justify;
              margin-left: 18px;
              margin-top: 0px; }
            .main-wrapper .section04 .wrap-use .box-use .right-use .box-value:first-child {
              margin-bottom: 9px; }
          .main-wrapper .section04 .wrap-use .box-use .right-use .tit_value {
            font-size: 1.538461538461538em;
            line-height: 40px;
            margin: 0px; }
          .main-wrapper .section04 .wrap-use .box-use .right-use .top-value {
            margin-top: 17px;
            margin-bottom: 11px; }
          .main-wrapper .section04 .wrap-use .box-use .right-use h2 {
            font-size: 2.376923076923077em;
            margin: 0px; }
  .main-wrapper .section05 {
    width: 100%;
    height: 463px;
    background: #035f8d;
    position: relative; }
    .main-wrapper .section05 .wrap-star {
      width: 960px;
      height: 100%;
      margin: auto;
      z-index: 1;
      text-align: center; }
      .main-wrapper .section05 .wrap-star .box-star {
        float: left;
        width: 100%;
        padding: 40px 0px; }
        .main-wrapper .section05 .wrap-star .box-star h2 {
          color: #ffffff;
          margin-bottom: 3px; }
        .main-wrapper .section05 .wrap-star .box-star p {
          font-size: 1.538461538461538em;
          line-height: 34px;
          color: #fff; }
      .main-wrapper .section05 .wrap-star:before {
        top: -16px;
        transform: rotate(225deg);
        content: "";
        position: absolute;
        background-color: #fff;
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        border-bottom: none;
        border-right: none;
        z-index: 10;
        right: calc((100% - 25px)/2); }
      .main-wrapper .section05 .wrap-star:after {
        bottom: -12px;
        transform: rotate(45deg);
        content: "";
        position: absolute;
        background-color: #035f8d;
        width: 25px;
        height: 25px;
        border: 1px solid #035f8d;
        border-bottom: none;
        border-right: none;
        z-index: 10;
        right: calc((100% - 25px)/2); }
  .main-wrapper .section06 {
    width: 100%;
    height: 199px;
    background: #fafafa;
    position: relative;
    z-index: 0; }
    .main-wrapper .section06 .wrap-experience {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1;
      text-align: center; }
    .main-wrapper .section06 .box-experience {
      float: left;
      width: 100%;
      padding: 40px 0px;
      height: 100%; }
      .main-wrapper .section06 .box-experience p {
        font-size: 1.692307692307692em;
        text-align: center;
        font-weight: bold;
        margin: 0px; }
        .main-wrapper .section06 .box-experience p b {
          color: #ef8c91;
          font-size: 1.792307692307692em; }
      .main-wrapper .section06 .box-experience a.button-new p.btn-tit {
        font-size: 2.076923076923077em;
        margin-top: 18px;
        margin-right: 14px;
        text-align: center; }
  .main-wrapper .section07 {
    width: 100%;
    height: 684px;
    background: #fff; }
    .main-wrapper .section07 .wrap-award {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section07 .wrap-award .box-award {
        padding: 40px 20px;
        width: 100%;
        height: 100%;
        float: left; }
        .main-wrapper .section07 .wrap-award .box-award .left-award {
          float: left;
          min-width: 380px;
          margin-right: 10px; }
          .main-wrapper .section07 .wrap-award .box-award .left-award p {
            font-size: 1.538461538461538em;
            line-height: 32px;
            color: #424242;
            margin: 0px;
            margin-bottom: 30px; }
        .main-wrapper .section07 .wrap-award .box-award .right-award {
          float: left; }
  .main-wrapper .section08 {
    width: 100%;
    height: 771px;
    background: #fff; }
    .main-wrapper .section08 .wrap-employees {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section08 .wrap-employees .box-employees {
        padding: 20px 20px;
        width: 100%;
        height: 100%;
        float: left;
        text-align: center; }
        .main-wrapper .section08 .wrap-employees .box-employees h2 {
          margin-bottom: 30px;
          text-align: justify; }
        .main-wrapper .section08 .wrap-employees .box-employees p.tit-employees {
          font-size: 1.538461538461538em;
          line-height: 32px;
          color: #424242;
          margin-top: 0px;
          text-align: justify;
          margin-bottom: 33px; }
        .main-wrapper .section08 .wrap-employees .box-employees h3 {
          font-size: 2.615384615384615em;
          color: #000000;
          line-height: 46px;
          margin: 0px;
          font-weight: 300; }
        .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees {
          float: left;
          padding: 0px 47px;
          position: relative;
          text-align: center;
          margin-bottom: 40px; }
          .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees {
            float: left;
            margin: 0px 39px;
            max-width: 221px;
            position: relative;
            text-align: center; }
            .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .chart {
              position: relative;
              width: 221px;
              height: 260px;
              margin: 0px auto;
              z-index: 0;
              margin-bottom: 10px; }
              .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .chart #radarChartAllTime .dv-diagram-chart {
                margin-left: 7px;
                position: absolute;
                top: 20%;
                margin-top: -58px; }
            .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .diagram-table {
              max-width: 100%;
              position: relative; }
              .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .diagram-table .chart-wrapper {
                height: auto;
                width: 100%; }
                .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .diagram-table .chart-wrapper .dv-badge-diagram-wrapper {
                  font-weight: bold;
                  position: absolute; }
                  .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li {
                    position: absolute;
                    list-style: none; }
                    .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li .dv-badge-icon {
                      cursor: pointer;
                      float: left;
                      height: 50px;
                      text-align: center;
                      width: 65px; }
                      .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li .dv-badge-icon a {
                        outline: none;
                        color: #464646;
                        text-decoration: none; }
                        .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li .dv-badge-icon a img {
                          display: block;
                          margin: 0px auto; }
                        .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li .dv-badge-icon a label {
                          font-size: 8px;
                          position: relative;
                          top: -7px;
                          font-weight: bold; }
                  .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .diagram-table .chart-wrapper .dv-badge-diagram-wrapper .dv-badge-diagram-outer {
                    height: auto;
                    position: absolute;
                    width: 65px; }
            .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .info-employee {
              position: relative; }
              .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .info-employee .box-badge {
                border: 1px solid #999999;
                width: 154px;
                height: 48px;
                text-align: center;
                z-index: 10;
                background-color: #fff;
                border-radius: 4px;
                margin: 0px auto;
                margin-bottom: 14px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                border-radius: 4px; }
                .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .info-employee .box-badge:after {
                  top: 44px;
                  transform: rotate(225deg);
                  content: "";
                  position: absolute;
                  background-color: #fff;
                  width: 10px;
                  height: 10px;
                  right: calc(100% - 82px);
                  border: 1px solid #999999;
                  border-bottom: none;
                  border-right: none;
                  z-index: 10;
                  right: calc(100% - 114px); }
                .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .info-employee .box-badge p {
                  margin-top: 11px;
                  font-size: 1.384615384615385em;
                  text-align: center;
                  font-weight: 500; }
              .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .info-employee .box-badge-top p {
                color: #19b3a5; }
              .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .info-employee .box-badge-center p {
                color: #006a97; }
              .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-employees .info-employee .box-badge-right p {
                color: #ff5c5c; }
          .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-left {
            margin-left: 0px; }
          .main-wrapper .section08 .wrap-employees .box-employees .box-badge-employees .badge-right {
            margin-right: 0px; }
  .main-wrapper .section09 {
    width: 100%;
    height: 620px;
    background: #fff; }
    .main-wrapper .section09 .wrap-face {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section09 .wrap-face .box-face {
        padding: 70px 20px;
        width: 100%;
        height: 100%;
        float: left; }
        .main-wrapper .section09 .wrap-face .box-face h2 {
          margin-bottom: 38px; }
        .main-wrapper .section09 .wrap-face .box-face .left-face {
          float: left;
          max-width: 440px;
          width: 438px; }
          .main-wrapper .section09 .wrap-face .box-face .left-face p {
            font-size: 1.538461538461538em;
            line-height: 36px;
            color: #424242;
            margin: 0px;
            margin-bottom: 37px; }
        .main-wrapper .section09 .wrap-face .box-face .right-face {
          float: left; }
  .main-wrapper .section10 {
    width: 100%;
    height: 750px;
    background: #fff; }
    .main-wrapper .section10 .wrap-team {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section10 .wrap-team .box-team {
        padding: 30px 20px 0px 20px;
        width: 100%;
        height: 100%;
        float: left; }
        .main-wrapper .section10 .wrap-team .box-team h2 {
          line-height: 56px;
          margin-bottom: 38px; }
        .main-wrapper .section10 .wrap-team .box-team p {
          font-size: 1.538461538461538em;
          line-height: 36px;
          color: #424242;
          margin: 0px;
          margin-bottom: 37px; }
        .main-wrapper .section10 .wrap-team .box-team .box-badge-team {
          padding: 0px 58px;
          position: relative; }
          .main-wrapper .section10 .wrap-team .box-team .box-badge-team .info-team {
            position: absolute;
            width: 190px; }
            .main-wrapper .section10 .wrap-team .box-team .box-badge-team .info-team .arrow-team01 {
              position: absolute;
              top: 117px;
              left: 56px;
              z-index: 10; }
            .main-wrapper .section10 .wrap-team .box-team .box-badge-team .info-team .arrow-team02 {
              position: absolute;
              top: 108px;
              right: 125px;
              z-index: 10; }
            .main-wrapper .section10 .wrap-team .box-team .box-badge-team .info-team .arrow-team03 {
              position: absolute;
              bottom: 115px;
              right: 139px;
              z-index: 10; }
            .main-wrapper .section10 .wrap-team .box-team .box-badge-team .info-team .arrow-team04 {
              position: absolute;
              top: -73px;
              left: 56px;
              z-index: 10; }
          .main-wrapper .section10 .wrap-team .box-team .box-badge-team .top-left-team {
            top: 0px;
            left: 58px; }
          .main-wrapper .section10 .wrap-team .box-team .box-badge-team .top-right-team {
            top: 0px;
            right: -31px; }
          .main-wrapper .section10 .wrap-team .box-team .box-badge-team .bottom-left-team {
            bottom: -5px;
            left: 58px; }
          .main-wrapper .section10 .wrap-team .box-team .box-badge-team .bottom-right-team {
            bottom: -5px;
            right: -31px; }
          .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge {
            width: 388px;
            height: 413px;
            margin: 0px auto; }
            .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart {
              position: relative;
              width: 255px;
              height: 265px;
              margin: 0px auto;
              z-index: 0; }
              .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .dv-diagram-chart {
                margin-left: -12px;
                position: absolute;
                top: 20%;
                margin-top: 1px; }
              .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .diagram-table {
                max-width: 100%;
                position: relative; }
                .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .diagram-table .chart-wrapper {
                  height: auto;
                  width: 100%; }
                  .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .diagram-table .chart-wrapper .dv-badge-diagram-wrapper {
                    font-weight: bold;
                    position: absolute; }
                    .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li {
                      position: absolute;
                      list-style: none; }
                      .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li .dv-badge-icon {
                        cursor: pointer;
                        float: left;
                        height: 50px;
                        text-align: center;
                        width: 65px; }
                        .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li .dv-badge-icon a {
                          outline: none;
                          color: #464646;
                          text-decoration: none; }
                          .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li .dv-badge-icon a img {
                            display: block;
                            margin: 0px auto; }
                          .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .diagram-table .chart-wrapper .dv-badge-diagram-wrapper li .dv-badge-icon a label {
                            font-size: 10px;
                            position: relative;
                            top: -7px;
                            font-weight: bold; }
                    .main-wrapper .section10 .wrap-team .box-team .box-badge-team .center-badge .chart .diagram-table .chart-wrapper .dv-badge-diagram-wrapper .dv-badge-diagram-outer {
                      height: auto;
                      position: absolute;
                      width: 65px; }
  .main-wrapper .section11 {
    width: 100%;
    height: 682px;
    background: #fff; }
    .main-wrapper .section11 .wrap-member {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section11 .wrap-member .box-member {
        padding: 30px 20px;
        width: 100%;
        height: 100%;
        float: left; }
        .main-wrapper .section11 .wrap-member .box-member h2 {
          line-height: 56px;
          margin-bottom: 30px; }
        .main-wrapper .section11 .wrap-member .box-member p {
          font-size: 1.538461538461538em;
          line-height: 36px;
          color: #424242;
          margin: 0px;
          margin-bottom: 37px; }
        .main-wrapper .section11 .wrap-member .box-member .box-badge-member {
          float: left;
          position: relative; }
          .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left {
            float: left;
            width: 460px;
            max-width: 460px;
            position: relative;
            z-index: 100; }
            .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-top {
              float: left; }
              .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-top .each-member {
                float: left;
                max-width: 145px;
                width: 143px;
                text-align: center;
                position: relative;
                z-index: 100; }
                .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-top .each-member p {
                  font-size: 1.076923076923077em;
                  font-weight: bold;
                  margin-bottom: 0px; }
                .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-top .each-member:after {
                  top: 12px;
                  transform: rotate(135deg);
                  content: "";
                  position: absolute;
                  background-color: #fff;
                  width: 10px;
                  height: 10px;
                  right: 0px;
                  border: 1px solid #030303;
                  border-bottom: none;
                  border-right: none;
                  z-index: 10; }
                .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-top .each-member img.img-member {
                  text-align: center; }
            .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-bottom {
              float: left;
              position: relative;
              max-width: 460px;
              width: 460px; }
              .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-bottom .info-panel-top {
                position: relative;
                z-index: 1000;
                top: 10px;
                left: 20px;
                width: 250px; }
              .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-bottom .info-panel-bottom {
                position: relative;
                z-index: 1000;
                bottom: 22px;
                left: 70px;
                width: 250px; }
              .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-bottom .ico-badge01 {
                position: absolute;
                z-index: 1;
                top: 23px;
                right: 110px;
                width: 94px; }
              .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-bottom .ico-badge02 {
                position: absolute;
                z-index: 1;
                top: 150px;
                right: 61px;
                width: 94px; }
              .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-bottom .ico-badge03 {
                position: absolute;
                z-index: 1;
                top: 37px;
                right: 35px;
                width: 94px;
                text-align: center; }
                .main-wrapper .section11 .wrap-member .box-member .box-badge-member .box-member-left .member-bottom .ico-badge03 p {
                  font-size: 1.076923076923077em;
                  font-weight: bold;
                  margin: 0px;
                  line-height: 18px; }
          .main-wrapper .section11 .wrap-member .box-member .box-badge-member .panel-member {
            float: left;
            max-width: 430px;
            width: 430px; }
            .main-wrapper .section11 .wrap-member .box-member .box-badge-member .panel-member p {
              font-size: 1.076923076923077em;
              font-weight: bold;
              margin-bottom: 0px;
              z-index: 100;
              position: relative; }
            .main-wrapper .section11 .wrap-member .box-member .box-badge-member .panel-member img.img-bg-member {
              position: absolute;
              z-index: 1;
              top: -50px;
              right: 0px; }
  .main-wrapper .section12 {
    width: 100%;
    height: 690px;
    background: #fff; }
    .main-wrapper .section12 .wrap-board {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section12 .wrap-board .box-board {
        padding: 40px 20px;
        width: 100%;
        height: 100%;
        float: left; }
        .main-wrapper .section12 .wrap-board .box-board h2 {
          margin-bottom: 38px; }
        .main-wrapper .section12 .wrap-board .box-board .left-board {
          float: left;
          max-width: 440px;
          width: 430px; }
          .main-wrapper .section12 .wrap-board .box-board .left-board p {
            font-size: 1.538461538461538em;
            line-height: 36px;
            color: #424242;
            margin: 0px;
            margin-bottom: 28px; }
        .main-wrapper .section12 .wrap-board .box-board .right-board {
          float: left; }
  .main-wrapper .section13 {
    width: 100%;
    height: 211px;
    background: #fafafa;
    position: relative;
    z-index: 0; }
    .main-wrapper .section13:after {
      top: -13px;
      transform: rotate(45deg);
      content: "";
      position: absolute;
      background-color: #fff;
      width: 25px;
      height: 25px;
      border: 1px solid #fff;
      border-bottom: none;
      border-right: none;
      z-index: 10;
      right: calc((100% - 25px)/2); }
    .main-wrapper .section13 .wrap-experience {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1;
      text-align: center; }
    .main-wrapper .section13 .box-experience {
      float: left;
      width: 100%;
      padding: 40px 0px;
      height: 100%; }
      .main-wrapper .section13 .box-experience p {
        font-size: 1.692307692307692em;
        text-align: center;
        font-weight: bold;
        margin: 0px; }
        .main-wrapper .section13 .box-experience p b {
          color: #ef8c91;
          font-size: 1.792307692307692em; }
      .main-wrapper .section13 .box-experience a.button-new p.btn-tit {
        font-size: 2.076923076923077em;
        margin-top: 18px;
        margin-right: 14px;
        text-align: center; }
  .main-wrapper .section14 {
    width: 100%;
    height: 745px;
    background: #fff; }
    .main-wrapper .section14 .wrap-plan {
      width: 960px;
      height: 100%;
      margin: auto;
      position: relative;
      z-index: 1; }
      .main-wrapper .section14 .wrap-plan .box-plan {
        padding: 40px 20px;
        width: 100%;
        height: 100%;
        float: left; }
        .main-wrapper .section14 .wrap-plan .box-plan h2 {
          margin-bottom: 38px; }
        .main-wrapper .section14 .wrap-plan .box-plan p {
          font-size: 1.538461538461538em;
          margin-top: 0px;
          line-height: 34px;
          margin-bottom: 104px; }
          .main-wrapper .section14 .wrap-plan .box-plan p b {
            color: #34c1b3;
            font-weight: 300; }
        .main-wrapper .section14 .wrap-plan .box-plan .rate-plan {
          float: left;
          position: relative; }
          .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .each-plan {
            height: 33px;
            float: left;
            width: 100%; }
            .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .each-plan p {
              font-size: 1.384615384615385em;
              display: inline-block;
              margin-top: 0px;
              margin-left: 30px;
              margin-bottom: 0px; }
              .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .each-plan p:nth-of-type(2) {
                margin-left: 0px; }
            .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .each-plan .tit {
              width: 267px; }
            .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .each-plan .sign {
              font-size: 18px;
              width: 164px;
              text-align: center;
              margin: 0px 22px;
              padding: 0;
              font-weight: 400;
              line-height: 21px;
              color: #343434; }
          .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .odd {
            background-color: #fafafa; }
          .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .even {
            background-color: #fff; }
          .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .box-rate {
            border: 1px solid #999999;
            width: 163px;
            text-align: center;
            z-index: 10;
            padding: 10px;
            position: relative;
            margin-bottom: 13px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            position: absolute; }
            .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .box-rate:after {
              top: 75px;
              transform: rotate(225deg);
              content: "";
              position: absolute;
              background-color: #fff;
              width: 10px;
              height: 10px;
              right: calc(100% - 82px);
              border: 1px solid #999999;
              border-bottom: none;
              border-right: none;
              z-index: 10;
              right: calc(100% - 84px); }
            .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .box-rate h3 {
              font-size: 1.230769230769231em;
              margin: 0px;
              text-transform: uppercase; }
            .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .box-rate p {
              font-size: 12px;
              line-height: 1.5;
              margin: 0px;
              font-weight: 500; }
          .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .light {
            top: -95px;
            left: 303px; }
          .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .pro {
            top: -95px;
            left: 515px; }
          .main-wrapper .section14 .wrap-plan .box-plan .rate-plan .enterprise {
            top: -95px;
            right: 30px; }
  .main-wrapper .section15 {
    width: 100%;
    height: 251px;
    background: #fafafa;
    z-index: 0; }
    .main-wrapper .section15:after {
      top: -13px;
      transform: rotate(45deg);
      content: "";
      position: absolute;
      background-color: #fff;
      width: 25px;
      height: 25px;
      border: 1px solid #fff;
      border-bottom: none;
      border-right: none;
      z-index: 10;
      right: calc((100% - 25px)/2); }
    .main-wrapper .section15 .wrap-footer {
      width: 960px;
      height: 100%;
      margin: auto;
      z-index: 1;
      text-align: center; }
    .main-wrapper .section15 .box-footer {
      float: left;
      width: 100%;
      padding: 40px 0px;
      height: 100%; }
      .main-wrapper .section15 .box-footer p {
        font-size: 1.692307692307692em;
        text-align: center;
        font-weight: bold;
        margin: 0px; }
        .main-wrapper .section15 .box-footer p b {
          color: #ef8c91;
          font-size: 1.792307692307692em; }
      .main-wrapper .section15 .box-footer a.button-new p.btn-tit {
        font-size: 2.076923076923077em;
        margin-top: 18px;
        margin-right: 14px;
        text-align: center; }
    .main-wrapper .section15 .menu-footer {
      position: absolute;
      bottom: 17px;
      left: 0px; }
      .main-wrapper .section15 .menu-footer a {
        margin: 0px 17px;
        font-size: 1.076923076923077em;
        font-weight: 400;
        color: #333333; }
    .main-wrapper .section15 .info-footer {
      position: absolute;
      right: 18px;
      bottom: 17px; }
      .main-wrapper .section15 .info-footer p {
        margin: 0px;
        font-weight: 400; }

/*# sourceMappingURL=style.css.map */
